<p id="notice"><%= notice %></p>

<h1> <%= @item.name %> </h1>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
  <br>
  <strong>Description:</strong>
  <%= @item.description %>
  <br>
  <strong>Image
